<!DOCTYPE html>
<html>
    <head>
        <title>REAL JOKES</title>
        <link rel="stylesheet" href="../css/site.css">
    </head>
    <header>
        <h1>heres my jock. . .</h1>
    </header>
    <body>
        <div>
            why so serius ?XD
        </div>
    </body>
    <footer>
        Copyright ©2026 by Lia Roeback
    </footer>
</html>