<!DOCTYPE html>
<html>
    <header>
        <title>Soggy Bloggy</title>
        <link rel="stylesheet" href="../css/site.css">
    </header>
    <head>
        <h1>Time to SOGGY in du BLOGGY</h1>
    </head>
    <body>
        <span class="whitespace">
            <form class="postBox" method="POST" action="/">
                <textarea class="post" id="post" type="text" name="post" placeholder="Type your Post"></textarea>
                <br/>
                <input class="postButton" type="submit" value="CREATE"/>
            </form>
        </span>
        <span class="posts">
            <div class="postTitle">WE BE POSTING</div>
        </span>
    </body>
    <footer>
        
    </footer>
</html>