<!DOCTYPE html>
<html>
    <head>
        <title>REAL JOKES</title>
        <link rel="stylesheet" href="../css/site.css">
    </head>
    <header>
        <h1>
            HAHA SO FUNNY!!!
        </h1>
    </header>
    <body>
        <div class="jokeBox">
            <a href="/jokes" class="joke">
                <button class="joke">DONT TAKE MY JOCK!!! (press to take jock)</button>
            </a>
            <br>
            <a href="create_joke" class="joke">
                <button class="joke">LOL YOU THINK YOUR FUNNY ENOUGH TO MAKE A JOCK!!?!? (press to make jock)</button>
            </a>
        </div>
    </body>
    <footer>
        Copyright ©2026 by Lia Roeback
    </footer>
</html>