body{
    background-color: rgb(67, 65, 65);
}
h1{
    height: 80vh;
    width: 60vh;
    margin-left: 31vw;
    margin-right: 31vw;
    background-color: rgb(228, 148, 148);
    border-radius: 2rem;
    text-align: center;
    padding: 1vw;
}
.title{
    font-size: 3rem;
}
header{
    text-align: center;
    background-color: rgb(168,168,216);
    margin-left: 31vw;
    margin-right: 35vw;
    margin-top: 3vh;
    border-radius: 1rem;
    padding-top: 2vh;
    padding-right: 0.5vh;
}
.stampButton{
    height: 4vh;
    width: auto;
    border-radius: 0.5rem;
    background-color: rgb(168, 168, 216);
    color: rgb(64, 59, 59);
    font-weight: 600;
    margin-top: 5rem;
    box-shadow:rgb(64, 59, 59);
    bottom: 0;
}
.stampImage{
    height: 50vh;
}