*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
header{
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}
.homeButton{
    padding: 0.5rem;
    border: solid 0.3rem;
    border-radius: 5rem;
    border-color: rgb(95, 85, 85);
    background-color: rgb(95, 85, 85);
    color: rgb(97, 160, 160);
    
}
.homeButton:hover{
    color: rgb(185, 209, 253);
}
.background{
    background: linear-gradient(to bottom left, rgb(117, 21, 123), rgb(32, 5, 83));
    background-size: 100% 110%;
    display: flex;
    flex-direction: column;
    
}
.title{
    text-align: center;
    font-size: 6rem;
    text-shadow: #ffe681 10px 0 1px;
    margin-bottom: 2rem;
    
}
.triviaFormater{
    text-align: center;
}
.l1,.l2,.l3{
    margin: 3rem;
}
.textBox,.amountOfQuestions,.playButton{
    background-color: rgb(196, 196, 196);
    color: black;
}
.l1,.l2{
    font-size: 2rem;
}
.textBox,.amountOfQuestions{
    border-radius: 1rem;
    height: 2rem;
    font-size: 1rem;
}
.textBox{
    text-align: center;
}
.playButton{
    border-radius: 3rem;
    height: 3rem;
    width: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5rem;
}
.triviaBox{
    height: 50rem;
    width: 20%;
    background: linear-gradient(to top right, rgb(143, 60, 18), coral);
    border-radius: 5rem;
    margin-left: 40%;
    margin-bottom: 15rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.triviaTitleCard{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
}
.question{
    padding-top: 3rem;
    font-size: 2rem;
    text-wrap: flex;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(223, 223, 223);
    font-size: 0.5rem;
}
.answers{
    padding-top: 2rem;
    text-align: center;
    text-wrap: flex;
    font-size: 1.5rem;
}
.input{
    visibility: hidden;
    background-color: rgb(196, 196, 196);
    color: black;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    margin-top: 3rem;
    margin-left: 0;
}
.guessButton{
    visibility: hidden;
    background-color: rgb(196, 196, 196);
    color: black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    margin-top: 3rem;
    margin-right: 0;
}
.nextButton{
    visibility: hidden;
    background-color: rgb(196, 196, 196);
    color: black;
    margin-top: 3rem;
    height: 3rem;
    width: 5rem;
    border-radius: 5rem;
}
.correctAnswerDisplay{
    margin-top: 1rem;
}
.scoreCard{
    visibility: hidden;
    margin-bottom: 2rem;
}