<!DOCTYPE html>
<html>
    <head>
        <title>Contact Me</title>
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>Contact me</h1>
        <form method="POST" action="/contact-me">
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" placeholder="Your Full Name" />
            <br/>
            <label for="emaile">Email:</label>
            <input id="email" type="text" name="email" placeholder="Email" />
            <br/>
            <label for="message">Message:</label>
            <input id="message" type="text" name="message" placeholder="Your message" />
            <br/>
            <input type="submit" value="Contact"/>
        </form>
    </body>
</html>