<!DOCTYPE html>
<html>
    <head>
        <title>FREE STAMP</title>
        <link rel="stylesheet" href="../css/buying.css">
    </head>
    <header>
        <%- include('partials/nav.ejs') %>
        <p class="title">BUYING A STAMP?!?!?!</p>
    </header>
    <body>
        <h1>
            <p> YESSSS, BUY A STAMP</p>
            <button class="stampButton" id="stampButton">BUY STAMP</button>
        </h1>
    </body>
    <footer>
        Copyright ©2026 by Lia Roeback
    </footer>
</html>