<!DOCTYPE html>
<html>
    <head>
        <title>FREE STAMP</title>
        <link rel="stylesheet" href="../css/buying.css">
    </head>
    <header>
        <%- include('partials/nav.ejs') %>
        <p class="title">BUYING A STAMP?!?!?!</p>
    </header>
    <body>
        <h1>
            <p> YESSSS, BUY A STAMP</p>
            <form method="POST" action="/orders">
                <label for="name">Name:</label>
                <input id="name" type="text" name="name" placeholder="Your Full Name" />
                <br/>
                <label for="address">Address:</label>
                <input id="address" type="text" name="address" placeholder="Address" />
                <br/>
                <label for="email">Email:</label>
                <input id="email" type="text" name="email" placeholder="Email" />
                <br/>
                <label for="phone">Phone#:</label>
                <input id="phone" type="text" name="phone" placeholder="(###) ###-####" />
                <br/>
                <input type="submit" value="BUY"/>
            </form>
        </h1>
    </body>
    <footer>
        Copyright ©2026 by Lia Roeback
    </footer>
</html>