<!DOCTYPE html>
<html>
    <head>
        <title>FREE STAMP INFO</title>
        <link rel="stylesheet" href="../css/features.css">
    </head>
    <header>
        <%- include('partials/nav.ejs') %>
        <p class="title">WANT INFO ON A STAMP?!?!?!</p>
    </header>
    <body>
        <h1>
            <p>OUR STAMP IS COOL</p>
            <p>YOU CAN USE THE STAMP ON A LETTER!!!!</p>
            <p>THEN IF YOU GIVE IT TO THE POST OFFICE THEY CAN TAKE IT</P>
            <p>OR YOU CAN KEEP IT (DO NOT EAT)</P>
            <img class="stampImage">
        </h1>
    </body>
    <footer>
        Copyright ©2026 by Lia Roeback
    </footer>
</html>